@using ReportViewerForMvc;
@using Microsoft.Reporting.WebForms;

@{
	ViewBag.Title = "ReporteVentas";
}

<h2>Reporte de Ventas</h2>

<div>
	@Html.ReportViewer((ReportViewer)ViewBag.REPORTE,
						new { @style = "height:600px;width:1000px;" })
</div>

<p>¿Deseas Volver al menu?</p>
<a href="http://localhost:61127/Menu.aspx">Regresar Al Menu</a>


